@import "~bootstrap/scss/bootstrap";

.popover {
    max-width: 600px !important;
}

.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('~split.js/grips/vertical.png');
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    background-image: url('~split.js/grips/horizontal.png');
    cursor: ns-resize;
}

#paper, #editor {
    box-sizing: border-box;
    overflow: auto;
}

form {
    margin-bottom: 1em;
}

div#toolbar {
    position: absolute;
    top: 0px;
    height: 55px;
    width: 100%;
    padding: 5px;
    border-bottom: 5px solid #eee;
    box-sizing: border-box;
}

div#toolbar > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

input#tick {
    background: white;
    width: 5em;
}

div#cont {
    display: flex;
    position: absolute;
    width: 100%;
    top: 55px; bottom: 0;
    overflow: hidden;
}

div#paper > div {
    min-height: 100%;
    min-width: 100%;
}

.CodeMirror {
    height: auto !important;
}

div.digitaljs_logo {
    width: 2.25rem;
    height: 2.25rem;
    margin: 1px;
    background-image: url('digitaljs.svg');
    background-size: 100%;
}


