@import "~bootstrap/scss/bootstrap";

.popover {
    max-width: 600px !important;
}

.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('~split.js/grips/vertical.png');
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    background-image: url('~split.js/grips/horizontal.png');
    cursor: ns-resize;
}

#paper, #editor, #monitorbox {
    box-sizing: border-box;
    overflow: auto;
}

form {
    margin-bottom: 1em;
}

div#toolbar {
    position: absolute;
    top: 0px;
    height: 55px;
    width: 100%;
    padding: 5px;
    border-bottom: 5px solid #eee;
    box-sizing: border-box;
}

div#toolbar > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

input#tick {
    background: white;
    width: 5em;
}

div#cont1 {
    position: absolute;
    top: 55px; bottom: 0;
    width: 100%;
}

div#cont {
    display: flex;
    overflow: hidden;
}

div#paper > div {
    min-height: 100%;
    min-width: 100%;
}

.CodeMirror {
    height: auto !important;
}

div.digitaljs_logo {
    width: 2.25rem;
    height: 2.25rem;
    margin: 1px;
    background-image: url('digitaljs.svg');
    background-size: 100%;
}

div#monitorbox > div.btn-toolbar {
    padding: 5px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    input[type=text] {
        background: white;
    }
    input[name=scale] {
        width: 4em;
    }
    input[name=rangel] {
        text-align: right;
    }
    input[name=rangel], input[name=rangeh] {
        width: 6em;
    }
}

div#monitor > table button {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-warning;
    font-size: 0.9em;
}

div#monitor > table td {
    padding: 0em 0.2em;
    &:last-of-type {
        padding-right: 0em;
    }
}

