@use "~bootstrap/scss/bootstrap";

.symbola {
    font-family: "Symbola", bootstrap.$font-family-sans-serif;
}

div.editor-tab >div.tab-content {

  >div {
      overflow: auto;
  }

  >div.tab-withbar {

      >div:first-child {
          @extend .border-bottom;
          padding: 5px;
      }

      >div:last-child {
          overflow: auto;
      }
  }

  div.tab-padded:not(:empty) {
      padding: 1em;
  }
}

#dropzone {
    @extend .mb-3;
    @extend .p-3;
    @extend .border-secondary;
    @extend .rounded;
    border: 2px solid;

    &.dragover {
        border-style: dashed;
    }
}

.btn-custom {
    @extend .symbola;
    @extend .btn-close;
    background: none;
    line-height: 1;
    padding: 0;
    font-size: 1.4rem;
}

nav .nav-item button.closeTab {
    @extend .ms-1;
}

nav .nav-item:not(.active) button.closeTab {
    display: none;
}
